:root {
  --colorBrand: #e74c3c;
  --colorBrandWhiteness: color(#e74c3c whiteness(50%));

  --fontFamily: 'Work Sans', Arial, Helvetica, sans-serif;

  --timingFunction: "cubic-bezier(0.175, 0.885, 0.32, 1.275)";
}
